li {
  display: inline;
  color: aliceblue;
}

ul {
  background-color: black;
}

.main-fixed {
  position: sticky;
}

.navbar{
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  top: 0px;
  cursor: pointer;
}
.nav-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
}
.create-user-form{
  border: 100em red;
}

.homepage{
display: flex;
flex-direction: column;
}

.nav-bar {
  padding-left: 0.25rem;
    padding-right: 0.25rem;
    display: flex;
}